.content {
  flex: 1;
  display: flex;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;

  article {
    width: 100%;
    word-break: break-word;
    font-size: 25.6px;
    font-size: 1.6rem;
    line-height: 1.6;

    h1,
    h1 *,
    h2,
    h2 *,
    h3,
    h3 *,
    h4,
    h4 *,
    h5,
    h5 *,
    h6,
    h6 * {
      word-break: break-all;
    }

    header {
      margin-top: 6.4rem;
      margin-bottom: 3.2rem;

      h1 {
        font-size: 4.2rem;
        line-height: 4.6rem;
        margin: 0;
        @media only screen and (max-width: 768px) {
          font-size: 4rem;
          line-height: 4.4rem;
        }
      }
    }

    footer {
      margin-top: 4rem;

      .see-also {
        margin: 3.2rem 0;

        h3 {
          margin: 3.2rem 0;
        }
      }
    }

    div,
    p {
      hyphens: auto;
    }

    a:hover {
      background: transparent;
    }

    img {
      margin: 10px;
      padding: 5px;
      max-width: 100%;
      background: #fff;
      border: 1px solid #bbb;
      box-shadow: 1px 1px 3px #d4d4d4;
    }

    blockquote {
      display: block;
      position: relative;
      padding: 15px 25px;
      text-align: left;
      line-height: inherit;
    }

    blockquote:before {
      position: absolute;
    }

    blockquote * {
      margin: 0;
      font-size: inherit;
    }

    table {
      width: 100%;
      margin: 0 0 1.2em;
      word-break: normal;
      overflow: auto;
      border: none;

      td,
      th {
        border: none;
      }
    }

    ul {
      margin: 0 0 1.2em;
      // margin-left: 1.3em;
      padding: 0;
      list-style: disc;

      li {
        font-size: inherit;
        list-style: disc;

        * {
          margin: 0;
          text-align: initial;
        }
      }
    }

    ol {
      list-style: decimal;
      margin: 0;
      padding: 0;

      li {
        list-style: decimal;

        * {
          margin: 0;
          text-align: initial;
        }
      }
    }

    li ol,
    li ul {
      //margin-bottom: 0.8em;
      margin-left: 2em;
    }

    li ul {
      list-style: circle;
    }

    pre {
      font-family: Consolas, Monaco, Andale Mono, Source Code Pro,
      Liberation Mono, Courier, monospace;
      display: block;
      padding: 15px;
      line-height: 1.5;
      word-break: break-all;
      word-wrap: break-word;
      white-space: pre;
      overflow: auto;

      code {
        margin: 0;
        padding: 0;
      }

      code,
      code * {
        font-size: 15px;
      }
    }

    li pre code,
    p pre code,
    pre {
      background-color: transparent;
      border: none;
    }

    pre p {
      margin: 0;
      padding: 0;
      color: inherit;
      font-size: inherit;
      line-height: inherit;
    }

    .article-center {
      text-align: center;
      display: -webkit-box;
      -webkit-box-align: center;
      -webkit-box-pack: center;
      -webkit-box-orient: vertical;
    }

    .article-center-small {
      display: -webkit-inline-box;
      display: -ms-inline-flexbox;
      display: inline-flex;
    }

    .article-center-small img {
      margin: 0;
      padding: 0;
      border: 0;
      box-shadow: none;
    }

    .article-nobeautify {
      margin: 0;
      padding: 0;
      border: 0;
      box-shadow: 0 0 0;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      position: relative;
      margin-top: 1em;
      margin-bottom: 1pc;
      font-weight: 700;
      line-height: 1.4;
      text-align: left;
      color: $fg-color;
    }

    h1 {
      padding-bottom: 0.3em;
      font-size: 57.6px;
      font-size: 3.6rem;
      line-height: 1.2;
    }

    h2 {
      padding-bottom: 0.3em;
      font-size: 44.8px;
      font-size: 2.8rem;
      line-height: 1.225;
    }

    h3 {
      font-size: 38.4px;
      font-size: 2.4rem;
      line-height: 1.43;
    }

    h4 {
      font-size: 32px;
      font-size: 2rem;
    }

    h5,
    h6 {
      font-size: 25.6px;
      font-size: 1.6rem;
    }

    h6 {
      color: #777;
    }

    ol,
    ul {
      list-style-type: disc;
      padding: 0;
      padding-left: 2em;
    }

    ol ol,
    ul ol {
      list-style-type: lower-roman;
    }

    ol ol ol,
    ol ul ol,
    ul ol ol,
    ul ul ol {
      list-style-type: lower-alpha;
    }

    table {
      width: 100%;
      overflow: auto;
      word-break: normal;
      word-break: keep-all;

      tr {
        background-color: #fff;
        border-top: 1px solid #ccc;
      }

      th {
        font-weight: 700;
      }

      td,
      th {
        padding: 6px 13px;
        border: 1px solid #ddd;
      }
    }

    blockquote {
      border-left: 4px solid #ddd;
    }

    strong {
      font-weight: 600 !important;
      color: #000 !important;
    }

    a:active,
    a:focus,
    a:hover {
      color: #4183c4;
      text-decoration: underline;
    }

    pre code,
    pre code * {
      font-size: 15px;
    }

    li code,
    p code {
      border-radius: 3px;
      font-size: 90%;
      line-height: 1.2;
      padding: 0.1rem 0.2rem;
      color: #d73e48;
      background: #fcf2f2;
    }

    h1,
    h2 {
      padding-top: 1.7rem;
      padding-bottom: 19.2px;
      padding-bottom: 1.2rem;
      background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAABCAYAAACsXeyTAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAFUlEQVQIHWNIS0sr/v//PwMMDzY+ADqMahlW4J91AAAAAElFTkSuQmCC) 0 100% repeat-x;
    }
  }

  article,
  article *,
  article div,
  article p {
    font-weight: 400;
    line-height: 1.8;
  }

  .co-width-2 {
    width: 16.7%;
  }

  .co-width-10 {
    width: 83.3%;
  }

  .co-width-12 {
    width: 100%;
  }

  .container {
    max-width: 90rem;
  }

  #body-wrapper {
    display: flex;
  }

  .post {
    .post-title {
      margin-bottom: 0.75em;
    }

    .post-meta {
      i {
        text-align: center;
        width: 1.6rem;
        margin-left: 0;
        margin-right: 0.5rem;
      }

      .date {
        .posted-on, .reading-time {
          margin-left: 0;
          margin-right: 1.5rem;
        }
      }
    }
  }

  @media only screen and (max-width: 840px) {
    #toc-slider {
      display: none;
    }
    .body-content {
      width: 100%;
    }
  }

  figure {
    margin: 0;
    padding: 0;
  }

  figcaption p {
    text-align: center;
    font-style: italic;
    font-size: 1.6rem;
    margin: 0;
  }
}

.avatar img {
  width: 20rem;
  height: auto;
  border-radius: 50%;
  @media only screen and (max-width: 768px) {
    width: 10rem;
  }
}

.list {
  ul {
    margin: 3.2rem 0 3.2rem 0;
    list-style: none;
    padding: 0;

    li {
      font-size: 1.8rem;
      @media only screen and (max-width: 768px) {
        margin: 1.6rem 0 1.6rem 0;
      }

      .date {
        display: inline-block;
        flex: 1;
        width: 20rem;
        text-align: right;
        margin-right: 3rem;
        @media only screen and (max-width: 768px) {
          display: block;
          text-align: left;
        }
      }

      .title {
        font-size: 1.8rem;
        flex: 2;
        color: $fg-color;
        font-family: $heading-font-family;
        font-weight: 700;

        &:hover,
        &:focus {
          color: $link-color;
        }
      }
    }
  }

  ul:not(.pagination) {
    li {
      @media only screen and (min-width: 768.1px) {
        display: flex;
      }
    }
  }
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;

  .about {
    text-align: center;

    h1 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }

    h2 {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      font-size: 2.4rem;
      @media only screen and (max-width: 768px) {
        font-size: 2rem;
      }
    }

    ul {
      list-style: none;
      margin: 3rem 0 1rem 0;
      padding: 0;

      li {
        display: inline-block;
        position: relative;

        a {
          color: $fg-color;
          text-transform: uppercase;
          margin-left: 1rem;
          margin-right: 1rem;
          font-size: 1.6rem;

          &:hover,
          &:focus {
            color: $link-color;
          }

          @media only screen and (max-width: 768px) {
            font-size: 1.4rem;
          }

          i {
            font-size: 3.2rem;
          }
        }
      }
    }
  }

  .error {
    text-align: center;

    h1 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
      font-size: 4.6rem;
      @media only screen and (max-width: 768px) {
        font-size: 3.2rem;
      }
    }

    h2 {
      margin-top: 2rem;
      margin-bottom: 3.2rem;
      font-size: 3.2rem;
      @media only screen and (max-width: 768px) {
        font-size: 2.8rem;
      }
    }
  }
}

/* toc */

#toc-slider {
  position: absolute;
  margin-left: 15px;
}

#TableOfContents {
  padding-left: 12px;
  border-left: rgba(88, 88, 88, 0.1) 2px solid;
  overflow: hidden;
  max-height: calc(100vh - 60px);

  ul li {
    list-style-type: none;
    font-size: 13px;
    margin-top: 0.4rem;
  }

  ul {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
  }

  ul,
  li {
    margin-left: 5px;
    padding-left: 0;
  }

  ul ul {
    margin-left: 0.6rem;
  }

  :hover {
    overflow: auto;
  }

  a {
    color: $fg-color-toc;
  }

  a.highlighted {
    color: $link-color;
  }
}

#TableOfContents:hover {
  overflow: auto;
}

.toc-fixed {
  position: fixed !important;
  top: 15px;
  margin-top: 0;
  overflow: hidden;
  z-index: 1;
}
